<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229079796110-6h25q4sgo09ijjhhijrvovn3ogiss2pg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229079796110-6h25q4sgo09ijjhhijrvovn3ogiss2pg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>229079796110-2odtdpus6gl3dt4k1v790eclu65a471h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-KIiY_aCAPRjDBxflY2u6vTmZriYfdGc</string>
	<key>GCM_SENDER_ID</key>
	<string>229079796110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kyun.flashgame</string>
	<key>PROJECT_ID</key>
	<string>flashbrowser4</string>
	<key>STORAGE_BUCKET</key>
	<string>flashbrowser4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229079796110:ios:7cec6861c7a03f1f96bcdf</string>
</dict>
</plist>